<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test" thread-count="1" parallel="classes">
    <test name="searchingHelloTest">
        <classes>
            <class name="tests.SearchingTextTest"/>
        </classes>
    </test> <!-- Test -->
</suite>
